.root {
  user-select: none;
  padding: 30px 0 50px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;

  @media (max-width: 1000px) {
    justify-content: center;
  }

  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      cursor: pointer;
      display: inline-block;
      color: #fe5f1e;

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}